html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  /* font-family: 'Lato', sans-serif; */
    font-size: 14px;
    margin:0; padding:0;
    outline: 0;
  box-sizing: border-box;
}

*,
::after {
  box-sizing: border-box;
}

span.span-125 {
  min-width: 125px;
  float: right;
  text-align: right;
  white-space: nowrap;
}

span.span-175 {
  display: inline-block !important;
  min-width: 175px !important;
  float: right;
  text-align: right;
  white-space: nowrap;
}
